PORT=5001

# MongoDB Atlas Connection String
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/portfolio_saas?retryWrites=true&w=majority

# JWT Config
JWT_SECRET=super_secret_jwt_key_portfolio_saas_2026
JWT_EXPIRE=30d

# Environment & Client URL
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# Cloudinary Config (Optional)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
